<!DOCTYPE html>
<html>

    <head>

        <title>Opinion Mining</title>

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        <link rel="stylesheet" type="text/css" href="../static/main_style.css">

    </head>

    <body>


        <div class="container">

            <p id="caption"> Opinion Mining </p>

            <a href="/Twitter">
                <div class="inner" id="twitter" style="margin-left: 55px;">
                    <i class="fab fa-twitter fa-9x"></i>
                    <p> Twitter</p>
                </div>
            </a>
    
            <a href="/Instagram">
                <div class="inner" id="insta">
                    <i class="fab fa-instagram fa-9x"></i>
                    <p> Instagram</p>
                </div>
            </a>

        </div>

    </body>

</html>