<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Opinion Mining</title>
    <link rel="stylesheet" type="text/css" href="../static/insta_style.css">
  </head>

  <body>
    <div class="form">
    
    <h2>Instagram Opinion Mining</h2>
    
    <form action='/Insta_Opinion_Mining' method="POST">
      <div class="container">
        <input type="text" name="Hashtag" required="required">
        <label> Tag name </label>
      </div>

      <br>
      <button class="btn-1"><span> ANALYZE </span></button>
      <br><br><br>

    </form>
    </div>

    {% if error==0 %}
      <script>
        alert("Tag not found !!!")
      </script>

    {% else %}  
      {% block body %} {% endblock %}

    {% endif %} 

  </body>
</html>